*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
h1, h2, h3, h4, nav a {
  font-weight: normal;
  text-transform: uppercase;
}
body{
    height: 100vh;
    background-color: rgb(206, 201, 200);
    line-height: 1.8;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-col{
    display: flex;
    flex-direction: column;
}